<%= form_tag(actors_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Actors" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<div class="actors-container">
  <ul class="actors-list">
    <% p @actors %>
    <% @actors.each do |actor| %>
      <li class="actors-list-item">
        <a href="/actors/<%= actor.id %>" title="<%= actor.title %>">
          <img class="actor-poster" title="<%= actor.name %>" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/<%= actor.profile_path %>" />
        </a>
      </li>
    <% end %>
  </ul>
</div>
