<h1>Sign Up</h1>
<%= form_for @user, html: { class: "user-form" } do |f| %>
<label class="label-text" for="user-form-name">
  <div class="user-label">Name:</div>
  <%= f.text_field :name, id: "user-form-name" %>
</label>
<label class="label-text" for="user-form-username">
  <div class="user-label">Username:</div>
  <%= f.text_field :username, id: "user-form-username" %>
</label>
<label class="label-text" for="user-form-password">
  <div class="user-label">Password:</div>
  <%= f.password_field :password, id: "user-form-password" %>
</label>
<%= f.submit "Sign Up",  class: "form-button"%>
<% end %>
<%= render template: "layouts/_errors" %>
