<div class="stars">
  <form action="">
    <input type="hidden" name="rateable[type]" value="<%= rateable[:type] %>"/>
    <input type="hidden" name="rateable[id]" value="<%= rateable[:id] %>"/>
    <button type="submit" class="star-button">Submit</button>
    <input class="star star-5" id="<%= rateable[:id] %>-<%= rateable[:type] %>-star-5" type="radio" name="rateable[score]" value="5" />
    <label class="star star-5" for="<%= rateable[:id] %>-<%= rateable[:type] %>-star-5"></label>
    <input class="star star-4" id="<%= rateable[:id] %>-<%= rateable[:type] %>-star-4" type="radio" name="rateable[score]" value="4" />
    <label class="star star-4" for="<%= rateable[:id] %>-<%= rateable[:type] %>-star-4"></label>
    <input class="star star-3" id="<%= rateable[:id] %>-<%= rateable[:type] %>-star-3" type="radio" name="rateable[score]" value="3" />
    <label class="star star-3" for="<%= rateable[:id] %>-<%= rateable[:type] %>-star-3"></label>
    <input class="star star-2" id="<%= rateable[:id] %>-<%= rateable[:type] %>-star-2" type="radio" name="rateable[score]" value="2" />
    <label class="star star-2" for="<%= rateable[:id] %>-<%= rateable[:type] %>-star-2"></label>
    <input class="star star-1" id="<%= rateable[:id] %>-<%= rateable[:type] %>-star-1" type="radio" name="rateable[score]" value="1" />
    <label class="star star-1" for="<%= rateable[:id] %>-<%= rateable[:type] %>-star-1"></label>
  </form>
</div>
