<%= form_for :review, url: "/movies/#{@movie.id}/reviews" do |f| %>
  <%= f.hidden_field :user_id, value: session[:id] %>
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <label class="label-text" for="new-review-title">
    <div class="new-review-label">Title:</div>
    <%= f.text_field :title, id: "new-review-title" %>
  </label>
  <label class="label-text" for="new-review-body">
    <div class="new-review-label">Body:</div>
    <%= f.text_area :body, id: "new-review-body" %>
  </label>
  <%= f.submit class: "form-button"%>
<% end %>
