<div class="review-container">
  <div class="review-header">
    <div class="review-title"><%= review.title %></div>
  </div>
  <div class="review-body"><%= review.body %></div>
  <div class="review-footer">
    <span><%= link_to("show comments", "/movies/#{@movie.id}/reviews/#{review.id}") %></span>
    <span><%= review.user.name %> - <%= review.created_at.strftime("%m-%d-%Y %I:%M %p") %></span>
  </div>
</div>
