<a href="/movies/<%= @movie.id %>">Back</a>
<div id="review-container-title" class="container-title">Review of <%= @movie.title %> by <%= @review.user.name %></div>
<div class="review-container">
  <div class="review-header">
    <div class="review-title"><%= @review.title %></div>
  </div>
  <div class="review-body"><%= @review.body %></div>
  <div class="review-footer">
    <span> <%= @review.created_at.strftime("%m-%d-%Y %I:%M %p") %></span>
  </div>
</div>

<% if current_user %>
  <h4>Add a Comment</h4>
  <%= form_for :comment, url: "/movies/#{@movie.id}/reviews/#{@review.id}/comments", html: { class: "new-comment-form" } do |f| %>
    <label class="label-text" for="comment-form-body">
      <div class="review-label">Comment:</div>
      <%= f.text_area :body, id: "comment-form-body" %>
    </label>
    <%= submit_tag :Submit,  class: "form-button"%>
  <% end %>
  <%= render template: 'layouts/_errors.html.erb' %>
<% end %>
<h3>Comments</h3>
<div class="review-comments-container">
  <% if @review.comments && @review.comments.length > 0 %>
    <% @review.comments.each do |comment| %>
      <%= render template: 'comments/_comment', locals: { comment: comment } %>
    <% end %>
  <% else %>
    <p>No Comments</p>
  <% end %>
</div>
