<a href="/movies/<%= @movie.api_id %>">Back</a>
<div class="review-container">
<h2>Review for <%= Movie.get_by_id(@movie.api_id).title %></h2>
<h3>Movie rating Avg: <%= average_ratings(@movie.ratings) %> </h3>
<h3>Reviewer Name: <%= @review.user.f_name %> </h3>
<h3>Review:</h3>
<p> <%= @review.body %> </p>
<h3>Comments</h3>
<ul class="review-comments">
  <% @review.comments.each do |comment| %>
    <li class="review-comment">
      <%= comment.body %> - <%= comment.user.f_name %>
    </li>
  <% end %>
</ul>
</div>
