<header>
  <div id="navbar-container">
    <div id="navbar-left-container">
      <div id="header-banner-container"><span id="logo-p2">RMDB</span></div>
      <ul class="navbar-link-list">
        <li class="navbar-list-item"><a href="/movies">Movies</a></li>
        <li class="navbar-list-item"><a href="/genres">Genres</a></li>
        <li class="navbar-list-item"><a href="/actors">Actors</a></li>
      </ul>
    </div>
    <div id="navbar-center-container">
      <div class='search-bar'>
        <% if site_location == "actors" %>
          <%= form_tag(actors_path, :method => "get", class: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Actors" %>
              <%= submit_tag "Search", class: 'search-button', :name => nil %>
          <% end %>
        <% else %>
          <%= form_tag(movies_path, :method => "get", class: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Movies" %>
              <%= submit_tag "Search", class: 'search-button', :name => nil %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="navbar-right-container">
      <ul class="navbar-link-list">
        <% if logged_in? %>
          <li class="navbar-list-item"><%= current_user.username %></li>
          <li class="navbar-list-item"><a href="/logout">Logout</a></li>
        <% else %>
          <li class="navbar-list-item"><a href="/login">Login</a></li>
          <li class="navbar-list-item"><a href="/users/new">Register</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
